.grid-container {
  display: grid;
  gap: 1in;
  background-color: grey;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  position: center;
  font-size: 15mm;
}

.grid-cloud {
  grid-column: 2 / span 3;
  grid-row: 1;
}

/* style for background image */
#background {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 1500px;
  height: 1500px;
}

<!-- Make sure it works on all screen sizes -->
@media screen and (min-width: 480px) {
  body{
    margin: 0 auto;
  }
}